* {
    margin:0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: maroon;
}

.counter_box {
    height: 500px;
    width: 300px;
    background: mintcream;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

h1, h2, button {
    width: 100%;
}

h2 {
    font-size: 2em;
}

h1 {
    font-size: 8em;
}